/* Global */

:root{
    --primary:#ffcc00;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

/* Utilities */



/* Menu */

nav.menu{
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.menu img{
    height: 30px;
    padding-left: 20px;
}

.link-glass, .link-renew, .link-menu, .logo{
    display: none;
}

.link-login{
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    font-size: 14px;
}

.link-subs{
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 12px;
    padding: 12px;
    transition: box-shadow .30s ease-in-out;
}

 .link-subs:hover{
    color:black;
    cursor: pointer;
    box-shadow: inset 115px 0 0px 0px var(--primary);
}

.link-angles{
    color: black;
}

nav.menu a:last-of-type{
    margin-right: 30px;
}

/* Header */

header{
    height: 200px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

header h1{
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: 5px;
    margin-top: 60px;
}

header p{
    margin-top: 10px;
    font-size: 16px;
    letter-spacing: 1px;
}

header p span{
    box-shadow: inset 0 -3px 0 -1px var(--primary);
    transition: box-shadow .125s ease-in-out;
    padding-bottom: 3px;
}

header p span:hover{
    color:black;
    cursor: pointer;
    box-shadow: inset 0 -40px 0 -1px var(--primary);
}

.line{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border-bottom: 5px solid var(--primary);
    width: 30px;
}