/* Global */

:root{
    --primary:#ffcc00;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

h3{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    color: white;
    margin-bottom: 15px;
}

h3:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* Utilities */

.read-btn{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 5px;
    margin-top: 25px;
}

/* Menu */

nav.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: white;
}

nav.menu img{
    height: 30px;
    padding-left: 20px;
}

.link-glass, .link-renew, .link-menu, .logo{
    display: none;
}

.link-login{
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    font-size: 14px;
}

.link-subs{
    color: white;
    background: linear-gradient(to left, black 50%, var(--primary) 50%) right;
    background-size: 200%;
    transition: .25s ease-out;
     background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 12px;
    padding: 17px;
}

.link-subs:hover{
    background-position: 0 100%;
    color: black;
}

.link-angles{
    color: black;
}

nav.menu a{
    margin-right: 20px;
}

/* Header */

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

header h1{
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 900;
    letter-spacing: 3.5px;
}

header p{
    margin-top: 10px;
    font-size: 16px;
    letter-spacing: 1px;
}

header p span{
    box-shadow: inset 0 -3px 0 -1px var(--primary);
    transition: box-shadow .15s ease-in-out;
    padding-bottom: 3px;
}

header p span:hover{
    color:black;
    cursor: pointer;
    box-shadow: inset 0 -40px 0 -1px var(--primary);
}

.line{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border-bottom: 5px solid var(--primary);
    width: 30px;
}

/* News */

main.main-container{
    width: 95%;
    margin: 10px auto;
}

.main-news{
    position: relative;
    margin-bottom: 20px;
}

.main-news-img{
    height: 420px;
}

.main-news-img img{
    height: 100%;
}

.main-news-text{
    position: absolute;
    top: 225px;
    left: 20px;
}

p.title{
    font-size: 30px;
    font-weight: 700;
    color: white;
    letter-spacing: 1px;
}

.secondary-news{
    margin-bottom: 20px;
}

.secondary-news-img{
    height: 250px;
}

.secondary-news-img img{
    max-height: 100%;
    min-width: 100%;
}

.secondary-news-text{
    background-color: white;
    color: black;
    padding: 20px;
    margin-top: -5px;
}

.secondary-news-text h3{
    color: gray;
}

.secondary-news-text p{
    font-size: 24px;
    font-weight: 700;
}

section.todays-pick h2{
   border-left: 5px solid var(--primary);
   padding-left: 20px;
   text-transform: uppercase;
   font-size: 30px;
   font-weight: 900;
   letter-spacing: 5px;
   margin-top: 50px;
   margin-bottom: 35px;
   line-height: 25px;
}

.todays-pick-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.todays-pick-item img{
    width: 100px;
    height: 100px;
}

.todays-pick-text{
    padding-left: 20px;
    padding-top: 5px;
}

.todays-pick-text h3{
    display: flex;
    justify-content: left;
    align-items: center;
}

.todays-pick-text p{
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: -5px;
}

.todays-pick-two{
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.todays-pick-two .second-title{
    margin-left: 10px;
    font-weight: 400;
}

.todays-pick-img{
    height: 100px;
    width: 168px;
}

.todays-pick-img img{
    height: 100%;
    width: 100%;
}